<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.index12306.framework.starter.bizs.userservice.dao.mapper.UserPhoneMapper">
    <update id="deletionUser" parameterType="com.learn.index12306.framework.starter.bizs.userservice.dao.entity.UserPhoneDO">
        UPDATE t_user_phone
        SET deletion_time = #{deletionTime}, del_flag = 1
        WHERE phone = #{phone} AND del_flag = 0
    </update>
</mapper>